<form style="margin:550px; width: 300px;">
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Enter Username">

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="password1" placeholder="Password">
  </div>
</br>
  

<button class="btn btn-outline-success" type="submit">LOG IN</button>
</br>
</br>
<p>Dont have an account? Create a <a href="{% url 'register' %}">new account</a></p>
</form>
</div>